@model About
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hakkımda Alanı</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Hakkımda Alanı Güncelle</div>
					</div>
					<div class="card-body">


						<form method="post">
							<input type="hidden" asp-for="AboutId" />
							<label>Başlık</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Açıklama</label>
							<textarea asp-for="SubDescription" rows="3" class="form-control"></textarea>
							<br />
							<label>Detaylı Açıklama</label>
							<textarea asp-for="Details" rows="6" class="form-control"></textarea>
							<br />
							<button class="btn btn-success">Hakkımda Alanı Güncelle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>